.input {
  transition: none;

  &:focus-within {
    outline: 0.15vw solid rgb(165, 40, 255);
    border-color: transparent;
  }

  background-color: rgba(255, 255, 255, 0.8);
  outline: 1px solid rgb(229, 194, 255);
  min-height: 4.3vh;
  width: calc(10vw + (40vw - 10vw) * ((100vw - 300px) / (2000 - 300)));
  height: calc(10px + (35 - 10) * ((100vw - 300px) / (2000 - 300)));
  font-size: calc(7px + (25 - 7) * ((100vh - 300px) / (2000 - 300)));
}

.inputwrapper {
  font-size: 5px;
}
