.input {
  transition: none;
  background-color: rgba(255, 255, 255, 0.8);
  outline: 2px solid rgb(229, 194, 255);
  min-height: 4.3vh;
  width: calc(10vw + (40vw - 10vw) * ((100vw - 300px) / (2000 - 300)));
  height: calc(10px + (35 - 10) * ((100vw - 300px) / (2000 - 300)));
  font-size: calc(7px + (33 - 7) * ((100vh - 300px) / (2000 - 300)));
  border-radius: 4px;
}

.input:focus-within {
  outline: 2px solid rgb(165, 40, 255);
  border-radius: 4px;
  font-size: calc(7px + (33 - 7) * ((100vh - 300px) / (2000 - 300)));
}

.inputwrapper {
  font-size: 5px;
}

.errorInput {
  outline: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 4px;
  margin-bottom: 0.6vh;
  font-size: calc(7px + (33 - 7) * ((100vh - 300px) / (2000 - 300)));
  min-height: 4.3vh;
  width: calc(10vw + (40vw - 10vw) * ((100vw - 300px) / (2000 - 300)));
  height: calc(10px + (35 - 10) * ((100vw - 300px) / (2000 - 300)));
}
.errorInput:focus-within {
  outline: 2px solid rgb(255, 0, 0, 0.5);
  border-radius: 4px;
  margin-bottom: 0.6vh;
  font-size: calc(7px + (33 - 7) * ((100vh - 300px) / (2000 - 300)));
}

.textarea {
  transition: none;
  background-color: rgba(255, 255, 255, 0.8);
  outline: 2px solid rgb(229, 194, 255);
  font-size: calc(7px + (33 - 7) * ((100vh - 300px) / (2000 - 300)));
  border-radius: 4px;
}

.textarea:focus-within {
  outline: 2px solid rgb(165, 40, 255);
  border-radius: 4px;
  font-size: calc(7px + (33 - 7) * ((100vh - 300px) / (2000 - 300)));
}

.numberInput {
  transition: none;
  background-color: rgba(255, 255, 255, 0.8);
  outline: 2px solid rgb(229, 194, 255);
  font-size: calc(7px + (33 - 7) * ((100vh - 300px) / (2000 - 300)));
  border-radius: 4px;
  font-size: calc(7px + (33 - 7) * ((100vh - 300px) / (2000 - 300)));
  min-height: 4.3vh;
  width: calc(10vw + (40vw - 10vw) * ((100vw - 300px) / (2000 - 300)));
  height: calc(10px + (35 - 10) * ((100vw - 300px) / (2000 - 300)));
}

.numberInput:focus-within {
  outline: 2px solid rgb(165, 40, 255);
  border-radius: 4px;
  font-size: calc(7px + (33 - 7) * ((100vh - 300px) / (2000 - 300)));
}
